.quarto
.DS_Store
*.ipynb

/.quarto/
.Rproj.user
_freeze/
*_cache/
*_files/
.Rhistory
*.Rproj

data/trump_tweets.rds
data/hashtags.rds
data/hashtags.xlsx
data/chromote_cookies.rds
media/machine-learning.pptx
media/machine-learning.pdf
media/layouts/
cookies.txt
day*.html
data/bundestag18_speeches.rds
data/Corp_Bundestag_V2.rds
data/imdb.rds
data/lda_models.rds
data/speeches_pmi.rds
data/polblogs_tbl_new_grouped_nsbm.graphml
data/polblogs_tbl_new_grouped.graphml
data/polblogs.zip
*.pdf
